<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<script>
    // 定义阶乘函数
    function func(a){
        // 嵌套函数定义，计算平方根的函数
        function multi(x){
            return x*x;
        }
        // 阶乘算法
        var m=1;
        for(var i=1;i<=multi(a);i++){
            m=m*i;
        }
        return m;
    }
    // 调用函数
    var sum=func(2)+func(3);
    document.write(sum);
</script>